body {
    background-color: grey;
}

.container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    padding: .5em;
    background-color: azure;
    border-radius: 10px;
}

#Logo-Weather {
    color: skyblue;
}

#Logo-Time {
    color: slateblue;
}